/* For the sake of appearances when presenting on PC */
a {
	cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------------------*/


@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*-------------------------------------------------------------------------------------------------------------------*/

										/* Header CSS */
#a-header {
	
	background-color: gold;
	margin: -8px;				/*making it stick to the top and sides*/
}
#logo img{
	width: 50%;
	padding: 3%;
}
#nav-button img{
	float: right;
	margin: 5%;
	width: 10%;
	cursor: pointer; 
}


/*-------------------------------------------------------------------------------------------------------------------*/


										/* Navbar CSS */
.navbar {
	position: absolute;
	z-index: 1;
	width: 98%;
}
.navbar ul{
	overflow: hidden;
	background-color: gold;
	margin-top: 5px;
	margin-left: 50%;
	height: 0;
	padding: 0px;
}
.navbar ul li{
	padding-top: 5%;
	padding-left: 5%;
	list-style: none;
	border-left: 1px dotted black;
}
.navbar ul a{
	display: block;
	text-decoration: none;
	color: black;
	font-family: BebasNeueRegular,'Arial Narrow',Tahoma;
	font-size: 6vw;
	font-weight: bold;

	border-bottom: 2px solid black;
}
.sous-navbar2 li a{
	font-size: 4vw;
}
.navbar ul li a :active{
	background-color: black;
	color: gold;
}
.navbar .open{
	height: auto;
}
.sous-navbar1 p {
	border-bottom: 2px solid black;
	margin: 0px;
}
.sous-navbar1 p a{
	display: inline-table;
}
#master-button, #licence-button {
	float: right;
	padding-right: 9%;
	padding-left: 9%;
}


/*-------------------------------------------------------------------------------------------------------------------*/

/*img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	max-width: 100%;
}*/

/*-------------------------------------------------------------------------------------------------------------------*/

										/* Footer CSS */

footer {
	display: flex;
	margin: -8px;
	background-color: gold;
	padding: 7%;
}
.facebook img{
	width: 90%;
}
.contacteznous img{
	width: 90%;
	margin-top: 10%;
}
#verticalline1 {
	border-left: 2px solid black;
	margin-right: 15%;
}
#verticalline2 {
	display: none;
}
.newsletter {
	display: none;
}
.newsletter-input {
	display: none;
}


/*-------------------------------------------------------------------------------------------------------------------*/


										/* Contactez nous CSS */


.form-header {
	background-color: gold;
	margin-top: -50px;
	margin-right: -50px;
	margin-left: -50px;
	text-align: center;
	padding: 30px;
	font-size: 8vw;
	font-family: BebasNeueRegular,Tahoma;
	font-weight: bold;
}


.form-div {
	border: 2px solid black;
	padding: 50px;
	margin:10% auto;
	min-width: 200px;
	font-family: Archivo Narrow;
	font-size: 5.5vw;
    background-color: lightgrey;
}
.form-content input, .form-content select{
	font-family: Archivo Narrow;
	font-size: 0.8em;
    width: 100%;
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px 0px;
}
.form-content select {
	min-width: 180px;
    width: 220px;
}
.form-content textarea {
	font-family: Archivo Narrow;
	font-size: 0.8em;
	margin-top: 15px; 
	height: 150px;
	width: 100%;
}
#form-submit {
	width: 100%;
	height: 50px;
	background-color: gold;
	color: black;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	border-radius: 10px; 
}


/*-------------------------------------------------------------------------------------------------------------------*/

									/* Homepage CSS Style */

/* Slideshow CSS */
.slideshow {
	height: 400px;
	width: 100%;
	margin-left: -48px;
	margin-top: -16px;
}
.slideshow:after {
	content: '';
	display: block;
}
.cb-slideshow {
    width: 100%;
    height: 100%;
    list-style: none;
}
.cb-slideshow li span {
    width: 100%;
    height: 40%;
    position: absolute;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    position: absolute;
    left: 20%;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div {
	width: 30%;
	margin-left: 40%;
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vw;
    font-weight: unset;
    padding: 0;
    line-height: 200px;
    color: gold;
  text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}


/* ---------------------------------------------------------------------------------------------------------*/

                                        /*Liste Des profs CSS*/

.profListTable {
    margin: 50px 0px;
    min-height: 350px;
}

.profListTable table{
    width: 80%;
    margin: 0px auto;

    font-size: 3.5vw;
    font-weight: bold;
    font-family: 'Arial Narrow';
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.profListTable td, .profListTable tr{
    padding: 2%;
}
.liste-Header {
    background-color: gold;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
}


/* ---------------------------------------------------------------------------------------------------------*/

                                        /* Licence/Master CSS */

.formation-info img{
    margin: 8% 10%;
    width: 80%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.formation-info ul, #up {
    margin: 10% 10%;
    width: 80%;
    font-family: "Archivo Narrow";
}
#up {
    font-size: 1.5em;
}
.formation-info ul a{
    text-decoration: none;
    color: black;
    display: block;
}
.formation-info ul li :hover {
    text-decoration: underline;
}
.up-button {
    display: none;
}
.up-button :hover {
    color: red;
}

/*---------------------------------------------------------------------------------------------------------*/
                                        /* Posts CSS */

.pinposts-div {
    display: block;
    width: 90%;
    margin: 10px 12%;
}
.pinposts-div a {
    display: inline-block;
    background-size:cover;
    text-decoration: none;
    margin: 10px 5px;
}
.pinpost {
    display: inline-grid;
    
    width: 250px;
    height: 350px;
    font-size: 1em;
    font-weight: bold;
    font-family: "Archivo Narrow";
    color: black;
    text-align: center;
}
.pinpost .header {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    height: 30px;
}
.pinpost .title {
    font-size: 1.9em;
    font-weight: bold;
}
.pinpost .target {
    font-size: 1.3em;
}
.pinpost .actu {
    background-color: lightgreen;
}
.pinpost .note {
    background-color: crimson;
}
.pinpost .emp {
    background-color: royalblue;
}
.pinpost-key {
    width: 200px;
    margin-left: 13%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.actu-key, .note-key, .emp-key {
    height: 25px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-top: 10px;
    padding-left: 15px;
}
.actu-key {
    background-color: lightgreen;
}
.note-key {
    background-color: crimson; 
}
.emp-key {
    background-color: royalblue;
}